* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif, sans-serif;
    margin: 0;
    background: #a68282;
}

header {
    text-align: center;
    background: #050505;
    color: #f1ebeb;
    padding: 20px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 20px;
    background: #c9666b;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(45, 34, 83, 0.1);
}

.project {
    margin-bottom: 15px;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background: #030303;
    color: #fff;
}